<!DOCTYPE html>
<html lang="en" ng-app="bestRestaurants">
  <head>
    <title>The Bestaurants</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Playfair+Display:400,400italic|Lato:900" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/RestaurantsController.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div  class="container">
        <h1>The Bestaurants</h1>
        <h2>But only in Portland&hellip; specifically the one in Oregon.</h2>
      </div>
    </div>
    <div class="container" ng-controller="RestaurantsCtrl">
      <div class="col-md-6">
        <h3>Enter a New Bestaurant</h3>
          <form ng-submit="addRestaurant()" role="form">
            <div class="form-group">
              <input type="text" ng-model="restaurantName" class="form-control" placeholder="What's it called?" required>
              <input type="text" ng-model="restaurantCuisine" class="form-control" placeholder="What kind of food do they gots there?" required>
              <input type="text" ng-model="restaurantLocation" class="form-control" placeholder="Where is this place?" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>

      <div class="col-md-6">
        <h3 ng-show="restaurants.length">The Bestaurants</h3>
        <ul ng-show="restaurants.length">
          <li ng-repeat="item in restaurants">
            Name: {{ item.name }}, Cuisine: {{ item.cuisine }}, Neighborhood: {{item.location}} <a ng-click="deleteRestaurant(item)">Delete</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
