<!DOCTYPE html>
<html lang="en" ng-app="bestRestaurants">
  <head>
    <title>The Bestaurants</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Playfair+Display:400,400italic|Lato:900" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/RestaurantsController.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div  class="container">
        <h1>The Bestaurants</h1>
        <h2>&hellip; but only in Portland&hellip; specifically the one in Oregon.</h2>
      </div>
    </div>
    <div class="jumbotron" id="main">
    <div class="container" ng-controller="RestaurantsCtrl">
      <div class="col-md-6">
        <h3>Enter a New Bestaurant</h3>
          <form ng-submit="addRestaurant()" role="form">
            <div class="form-group">
              <input type="text" ng-model="restaurantName" class="form-control" placeholder="What's it called?" required>
            </div>
            <div class="form-group">
              <input type="text" ng-model="restaurantCuisine" class="form-control" placeholder="What kind of food do they gots there?" required>
            </div>
            <div class="form-group">
              <input type="text" ng-model="restaurantLocation" class="form-control" placeholder="Where is this place?" required>
            </div>
            <div class="form-group">
              <select ng-model="restaurantPriceRange" class="form-control">
                <option value="">What's the price range?</option>
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
                <option value="$$$$">$$$$</option>
                <option value="$$$$$">$$$$$</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
      <div class="col-md-4">
        <h3 ng-show="restaurants.length">The Bestaurants</h3>
            <dl ng-show="restaurants.length">
              <form class="form-inline" role="form" ng-repeat="item in restaurants | filter:query" ng-submit="editing = false">
                <dt>
                  <span ng-click="editing = true" ng-hide="editing">
                    {{item.name}} <a ng-click="deleteRestaurant(item)">(Delete)</a>
                  </span>
                  <span class="form-group" ng-show="editing">
                    <input type="text" class="form-control" ng-model="item.name" required/>
                  </span>
                </dt>
                <dd>
                  <span ng-click="editing = true" ng-hide="editing">
                    {{ item.cuisine }}
                  </span>
                  <span class="form-group" ng-show="editing">
                    <input type="text" class="form-control" ng-model="item.cuisine" required/>
                  </span>
                </dd>
                <dd>
                  <span ng-click="editing = true" ng-hide="editing">
                    {{ item.location }}
                  </span>
                  <span class="form-group" ng-show="editing">
                    <input type="text" class="form-control" ng-model="item.location" required/>
                  </span>
                </dd>
                <dd>
                  <span ng-click="editing = true" ng-hide="editing">
                    {{ item.priceRange }}
                  </span>
                  <span class="form-group" ng-show="editing">
                    <select ng-model="item.priceRange" class="form-control" required/>
                      <option value="">What's the price range?</option>
                      <option value="$">$</option>
                      <option value="$$">$$</option>
                      <option value="$$$">$$$</option>
                      <option value="$$$$">$$$$</option>
                      <option value="$$$$$">$$$$$</option>
                    </select>
                  </span>
                </dd>
                <span class="form-group" ng-show="editing">
                  <button class="btn btn-default btn-sm" type="submit">Save</button>
                </span>
              </form>
          </dl>
        </div>
        <div class="col-md-2">
          <h3 ng-show="restaurants.length">Search</h3>
          <form class="form-inline" role="form" ng-show="restaurants.length">
            <div class="form-group">
              <input ng-model="query" type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
